<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @section.section_id %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @section.room_number %>
</p>

<p>
  <strong>Crn:</strong>
  <%= @section.crn %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
